# SPDX-FileCopyrightText: 2026 Dominik Wombacher <dominik@wombacher.cc>
#
# SPDX-License-Identifier: CC0-1.0

name: Ansible

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ansible:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        run: |
          python3 -m venv venv
          source venv/bin/activate

          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt

          # Install ansible collections and roles first, otherwise ansible-lint will fail
          # https://github.com/ansible/ansible-lint/issues/3636
          ansible-galaxy collection install -v --pre -r collections/requirements.yml
          ansible-galaxy role install -v -r roles/requirements.yml

          # Only trust known geeko.xlii.cc SSH fingerprints
          cp files/ssh_fingerprints_geeko_xlii_cc.txt ~/.ssh/known_hosts

  ansible-lint:
    uses: ansible/ansible-content-actions/.github/workflows/ansible_lint.yaml@main
