# SPDX-FileCopyrightText: 2026 Dominik Wombacher <dominik@wombacher.cc>
#
# SPDX-License-Identifier: CC0-1.0

name: CI

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-central-1
  AWS_ACCOUNT_ID: '992382418145'
  AWS_ROLE_NAME: GitHubOIDC-k3s-xlii-cc-ResourceAccess

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v26.1.1

  ansible:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install params2env
        uses: wombelix/params2env@main

      - name: Setup Environment
        run: |
          python3 -m venv venv
          source venv/bin/activate

          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt

          # Install ansible collections and roles first, otherwise ansible-lint will fail
          # https://github.com/ansible/ansible-lint/issues/3636
          ansible-galaxy collection install -v --pre -r collections/requirements.yml
          ansible-galaxy role install -v -r roles/requirements.yml

          # Only trust known k3s.xlii.cc SSH fingerprints
          mkdir -p ~/.ssh
          cp files/ssh_fingerprints_k3s-xlii-cc.txt ~/.ssh/known_hosts

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE_NAME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Load secrets from SSM
        run: params2env read

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ env.SSH_PRIVATE_KEY }}

      - name: Run Ansible Playbook
        run: |
          source venv/bin/activate
          ansible-playbook site.yml
